<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ecommerce Shop</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: black;
      }
    </style>
  </head>
  <body>
    {% load static %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Carousel -->
    <div class="container">
      <div id="demo" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            style="background-color: black"
          ></button>
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="1"
            style="background-color: black"
          ></button>
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="2"
            style="background-color: black"
          ></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/1.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Classic and Invigorating</h5>
                    <p class="card-text">
                      Start your day with the bold aroma and rich flavor of our
                      premium coffee. Sourced from the finest beans and expertly
                      roasted, each sip offers a perfect balance of smoothness
                      and strength.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/1.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Artisanally Crafted</h5>
                    <p class="card-text">
                      Experience the artistry of coffee with every cup. Our
                      hand-selected beans are slow-roasted to perfection,
                      bringing out nuanced flavors and delightful
                      complexity.chocolatey finish and dark.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/1.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Adventurous Palate</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/1.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Comfort in a Cup</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/2.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Fuel for the Passionate</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/2.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Elevate Your Everyday</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/2.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Nature’s Perfect Brew</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img
                    src='{% static "shop/2.jpg" %}'
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Awaken Your Senses</h5>
                    <p class="card-text">
                      Embark on a journey of taste with our adventurous coffee
                      blend. Combining beans from exotic regions, this coffee
                      boasts a symphony of flavors, from vibrant citrus notes to
                      a dark, chocolatey finish.
                    </p>
                    <a href="#" class="btn text-center btn-dark">Buy now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add more carousel items here -->
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
