{% extends "shop/basic.html"%}

{% block style %}

<style>
  .container {
    width: 80vw;
  }
</style>

{% endblock %} 
{% block title %} Ecommerce Web App{% endblock %}
{% block body %}
<!-- Carousel -->
{% load static %}
<div class="container">
  <div id="demo" class="carousel slide my-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        style="background-color: black"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
        style="background-color: black"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
        style="background-color: black"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/1.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Classic and Invigorating</h5>
                <p class="card-text">
                  Start your day with the bold aroma and rich flavor of our
                  premium coffee. Sourced from the finest beans and expertly
                  roasted, each sip offers a perfect balance of smoothness and
                  strength.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/1.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Artisanally Crafted</h5>
                <p class="card-text">
                  Experience the artistry of coffee with every cup. Our
                  hand-selected beans are slow-roasted to perfection, bringing
                  out nuanced flavors and delightful complexity.chocolatey
                  finish and dark.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/1.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Adventurous Palate</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/1.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Comfort in a Cup</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/2.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Fuel for the Passionate</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/2.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Elevate Your Everyday</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/2.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nature’s Perfect Brew</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img
                src='{% static "shop/2.jpg" %}'
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Awaken Your Senses</h5>
                <p class="card-text">
                  Embark on a journey of taste with our adventurous coffee
                  blend. Combining beans from exotic regions, this coffee boasts
                  a symphony of flavors, from vibrant citrus notes to a dark,
                  chocolatey finish.
                </p>
                <a href="#" class="btn text-center btn-dark">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more carousel items here -->
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% endblock %}
